<!DOCTYPE html>
<html ng-app="analystApp">

<head>
    <title>Analyst Interface</title>
    <link rel="stylesheet" type="text/css" href="./lib/spectre.min.css" />
    <link rel="stylesheet" type="text/css" href="./lib/720kb.angular-datepicker/angular-datepicker.min.css" />
</head>

<body ng-controller="outliersCtrl" ng-init="initIndex()">
    <div class="container">
        <div class="columns">
            <div class="column col-12">
                <h3>Log Filter</h3>
                <input type="checkbox" ng-model="asLocalFilter" ng-change="localFilter()" /> Also use as local display filter
                <div class="columns">
                    <div class="column col-2">
                        <div class="input-group">
                            <span class="input-group-addon">Service</span>
                            <input class="form-input" type="text" ng-model="logFilter._source.log.service" placeholder="Service filter" />
                        </div>
                    </div>
                    <div class="column col-2">
                        <div class="input-group">
                            <span class="input-group-addon">Device</span>
                            <input class="form-input" type="text" ng-model="logFilter._source.log.device" placeholder="Device filter" />
                        </div>
                    </div>
                    <div class="column col-2">
                        <div class="input-group">
                            <span class="input-group-addon">IP</span>
                            <input class="form-input" type="text" ng-model="logFilter._source.log.IP" placeholder="IP filter" ng-change="logFilter._source.log.IP = logFilter._source.log.IP.split('.').join('_');" />
                        </div>
                    </div>
                    <div class="column col-2">
                        <div class="input-group">
                            <span class="input-group-addon">City</span>
                            <input class="form-input" type="text" ng-model="logFilter._source.log.city" placeholder="City filter" />
                        </div>
                    </div>
                    <div class="column col-2">
                        <div class="input-group">
                            <span class="input-group-addon">County</span>
                            <input class="form-input" type="text" ng-model="logFilter._source.log.county" placeholder="County filter" />
                        </div>
                    </div>
                    <div class="column col-2">
                        <div class="input-group">
                            <span class="input-group-addon">Nation</span>
                            <input class="form-input" type="text" ng-model="logFilter._source.log.nation" placeholder="Nation filter" />
                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div class="column col-2">
                        <datepicker date-format="yyyy-MM-dd" selector="form-input">
                            <div class="input-group">
                                <span class="input-group-addon">Start</span>
                                <input class="form-input" type="text" ng-model="logMgr.startDate" />
                            </div>
                        </datepicker>
                    </div>
                    <div class="column col-2">
                        <datepicker date-format="yyyy-MM-dd" selector="form-input">
                            <div class="input-group">
                                <span class="input-group-addon">End</span>
                                <input class="form-input" type="text" ng-model="logMgr.endDate" />
                            </div>
                        </datepicker>
                    </div>
                    <div class="column col-2">
                        <div class="input-group">
                            <span class="input-group-addon">Query Size</span>
                            <input class="form-input" type="number" ng-model="logMgr.querySize" placeholder="Query Size" />
                        </div>
                    </div>
                    <div class="column col-2">
                        <button class="btn btn-primary" ng-click="initLogScroll()">Query Matched Logs</button>
                    </div>
                    <div class="column col-4">
                        <div class="float-right">
                            <button class="btn" ng-click="submitLabels()" ng-disabled="!logMgr.modified">Submit Labels</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column col-12" style="text-align: center" ng-if="user">
                <div class="divider"></div>
                <h1 ng-if="user">{{ user }}</h1>
            </div>
            <div class="column col-12">
                <div class="divider"></div>
                <div class="form-group">
                    <label class="form-switch">
                        <input type="checkbox" ng-model="displayTableConfig.quickSelect" />
                        <i class="form-icon"></i> Quick Select
                    </label>
                    <label class="form-switch">
                        <input type="checkbox" ng-model="displayTableConfig.score" />
                        <i class="form-icon"></i> Score
                    </label>
                    <label class="form-switch">
                        <input type="checkbox" ng-model="displayTableConfig.user" />
                        <i class="form-icon"></i> User
                    </label>
                    <label class="form-switch">
                        <input type="checkbox" ng-model="displayTableConfig.service" />
                        <i class="form-icon"></i> Service
                    </label>
                    <label class="form-switch">
                        <input type="checkbox" ng-model="displayTableConfig.ip" />
                        <i class="form-icon"></i> IP
                    </label>
                    <label class="form-switch">
                        <input type="checkbox" ng-model="displayTableConfig.device" />
                        <i class="form-icon"></i> Device
                    </label>
                    <label class="form-switch">
                        <input type="checkbox" ng-model="displayTableConfig.geoInfo" />
                        <i class="form-icon"></i> Geo info
                    </label>
                    <label class="form-switch">
                        <input type="checkbox" ng-model="displayTableConfig.timestamp" />
                        <i class="form-icon"></i> Timestamp
                    </label>
                    <label class="form-switch">
                        <input type="checkbox" ng-model="displayTableConfig.label" />
                        <i class="form-icon"></i> Label
                    </label>
                </div>
            </div>
            <div class="column col-12">
                <div class="divider"></div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th ng-show="displayTableConfig.quickSelect"><input type="checkbox" ng-model="useQuickLabel" ng-change="selectAll()" />Select All<br />
                                <select class="form-select" ng-model="quickLabel" ng-change="updateAllLabel()">
                                    <option></option>
                                    <option>normal</option>
                                    <option>abnormal</option>
                                    <option>whiteList</option>
                                </select>
                            </th>
                            <th></th>
                            <th ng-show="displayTableConfig.score">Score</th>
                            <th ng-show="displayTableConfig.user">User</th>
                            <th ng-show="displayTableConfig.service">Service</th>
                            <th ng-show="displayTableConfig.ip">IP</th>
                            <th ng-show="displayTableConfig.device">Device</th>
                            <th ng-show="displayTableConfig.geoInfo">Geo Info</th>
                            <th ng-show="displayTableConfig.timestamp">Timestamp</th>
                            <th ng-show="displayTableConfig.label">Label</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="log in logMgr.logs | filter:localLogFilter">
                            <td ng-show="displayTableConfig.quickSelect"><input type="checkbox" ng-model="log.quickLabelChecked" ng-change="changeLabel(log)"></td>
                            <td>
                                <button class="btn" ng-click="showLogDetail(log)">Info</button>
                            </td>
                            <td ng-show="displayTableConfig.score">{{ log._source.scores.autoencoder | number: 3 }}</td>
                            <td ng-show="displayTableConfig.user">
                                <button class="btn btn-link" ng-click="openUserTab(log)">{{ log._source.log.user }}</button>
                            </td>
                            <td ng-show="displayTableConfig.service">{{ log._source.log.service }}</td>
                            <td ng-show="displayTableConfig.ip">{{ log._source.log.IP | displayIP }}</td>
                            <td ng-show="displayTableConfig.device">{{ log._source.log.device }}</td>
                            <td ng-show="displayTableConfig.geoInfo">{{ log._source.log.city }}/{{ log._source.log.county }}/{{ log._source.log.nation }}</td>
                            <td ng-show="displayTableConfig.timestamp">{{ log._source.log.timestamp }}</td>
                            <td ng-show="displayTableConfig.label"><span class="label" ng-class="{'label-danger': log._source.label.analyst == 'abnormal', 'label-success': log._source.label.analyst == 'normal'}" ng-if="log._source.label.analyst">{{ log._source.label.analyst }}</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="column col-12" style="text-align: center">
                <button class="btn" ng-click="loadMore()">{{ logMgr.logs.length
                    < logMgr.logTotal ? 'Load More' : 'No More' }} ({{ logMgr.logs.length }} / {{ logMgr.logTotal }})</button>
            </div>
        </div>
    </div>
    <div class="modal" ng-class="{'active':logModal.display}">
        <div class="modal-overlay"></div>
        <div class="modal-container">
            <div class="modal-header">
                <button class="btn btn-clear float-right" ng-click="logModal.display=false;"></button>
                <div class="modal-title">Log Detail Info</div>
            </div>
            <div class="modal-body">
                <div class="content">
                    <div class="container">
                        <div class="column col-12">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>field</th>
                                        <th>value</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>ID</td>
                                        <td>{{ logModal.targetLog._id }}</td>
                                    </tr>
                                    <tr>
                                        <td>Autoencoder Score</td>
                                        <td>{{ logModal.targetLog._source.scores.autoencoder }}</td>
                                    </tr>
                                    <tr>
                                        <td>Feature Vector</td>
                                        <td>
                                            <ul>
                                                <li>past 1 day avg / past 3 day avg: {{ logModal.targetLog._source.featureVector[0] | number: 4 }}</li>
                                                <li>past 1 day avg / past 7 day avg: {{ logModal.targetLog._source.featureVector[1] | number: 4 }}</li>
                                                <li>past 3 day avg / past 7 day avg: {{ logModal.targetLog._source.featureVector[2] | number: 4 }}</li>
                                                <li>new device: {{ logModal.targetLog._source.featureVector[3] | trueFalse }}</li>
                                                <li>new IP: {{ logModal.targetLog._source.featureVector[4] | trueFalse }}</li>
                                                <li>new city: {{ logModal.targetLog._source.featureVector[5] | trueFalse }}</li>
                                                <li>new county: {{ logModal.targetLog._source.featureVector[6] | trueFalse }}</li>
                                                <li>new nation: {{ logModal.targetLog._source.featureVector[7] | trueFalse }}</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>User</td>
                                        <td>
                                            <button class="btn btn-link" ng-click="openUserTab(logModal.targetLog)">{{ logModal.targetLog._source.log.user }}</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>IP</td>
                                        <td>{{ logModal.targetLog._source.log.IP | displayIP }}</td>
                                    </tr>
                                    <tr>
                                        <td>Geo Info</td>
                                        <td>{{ logModal.targetLog._source.log.city }} / {{ logModal.targetLog._source.log.county }} / {{ logModal.targetLog._source.log.nation }}</td>
                                    </tr>
                                    <tr>
                                        <td>timestamp</td>
                                        <td>{{ logModal.targetLog._source.log.timestamp }}</td>
                                    </tr>
                                    <tr>
                                        <td>labels</td>
                                        <td>
                                            <ul>
                                                <li>analyst: {{ logModal.targetLog._source.label.analyst || "None" }}</li>
                                            </ul>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <label>Label</label>
                    <select class="form-select" ng-model="logModal.targetLog._source.label.analyst" ng-change="updateLable(logModal.targetLog)">
                        <option></option>
                        <option>normal</option>
                        <option>abnormal</option>
                        <option>whiteList</option>
                    </select>
                    <button class="btn btn-link" ng-click="logModal.display=false;">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" ng-class="{'active':loadingModal.display}">
        <div class="modal-overlay"></div>
        <div class="modal-container">
            <div class="modal-header">
                <div class="modal-title"></div>
            </div>
            <div class="modal-body">
                <div class="content">
                    <div class="loading"></div>
                    {{ loadingModal.text }}
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
    <!-- JS -->
    <script type="text/javascript" src="./lib/moment.js"></script>
    <script type="text/javascript" src="./lib/angular.min.js"></script>
    <script type="text/javascript" src="./lib/elasticsearch.angular.min.js"></script>
    <script type="text/javascript" src="./lib/720kb.angular-datepicker/angular-datepicker.min.js"></script>
    <script type="text/javascript" src="./js/app.js"></script>
    <script type="text/javascript" src="./js/config.js"></script>
</body>

</html>
