<!DOCTYPE html>
<html ng-app="analystApp">

<head>
    <title>Analyst Interface</title>
    <link rel="stylesheet" type="text/css" href="./lib/spectre.min.css" />
    <link rel="stylesheet" type="text/css" href="./lib/spectre-icons.css"/>
    <link rel="stylesheet" type="text/css" href="./lib/720kb.angular-datepicker/angular-datepicker.min.css" />
</head>

<body ng-controller="outliersCtrl" ng-init="initIndex()" style="min-height: 100vh;">
    <div class="container" style="height: 90vh">
        <div class="columns" style="height: 100%">
            <div ng-show="showControlPannel" class="column col-12">
                <form>
                    <div class="column col-12">
                        <h3>Log Filter</h3>
                        <input type="checkbox" ng-model="asLocalFilter" ng-change="localFilter()" /> Also use as local display filter
                        <div class="columns">
                            <div class="column col-2">
                                <div class="input-group">
                                    <span class="input-group-addon">Service</span>
                                    <input class="form-input" type="text" ng-model="logFilter._source.log.service" placeholder="Service filter" />
                                </div>
                            </div>
                            <div class="column col-2">
                                <div class="input-group">
                                    <span class="input-group-addon">IP</span>
                                    <input class="form-input" type="text" ng-model="logFilter._source.log.ip" placeholder="IP filter" />
                                </div>
                            </div>
                            <div class="column col-2">
                                <div class="input-group">
                                    <span class="input-group-addon">City</span>
                                    <input class="form-input" type="text" ng-model="logFilter._source.log.city" placeholder="City filter" />
                                </div>
                            </div>
                            <div class="column col-2">
                                <div class="input-group">
                                    <span class="input-group-addon">Region</span>
                                    <input class="form-input" type="text" ng-model="logFilter._source.log.region" placeholder="Region filter" />
                                </div>
                            </div>
                            <div class="column col-2">
                                <div class="input-group">
                                    <span class="input-group-addon">Country</span>
                                    <input class="form-input" type="text" ng-model="logFilter._source.log.country" placeholder="Country filter" />
                                </div>
                            </div>
                            <div class="column col-2">
                                <div class="input-group">
                                    <span class="input-group-addon">ISP</span>
                                    <input class="form-input" type="text" ng-model="logFilter._source.log.isp" placeholder="ISP filter" />
                                </div>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column col-2">
                                <datepicker date-format="yyyy-MM-dd" selector="form-input">
                                    <div class="input-group">
                                        <span class="input-group-addon">Start</span>
                                        <input class="form-input" type="text" ng-model="logMgr.startDate" />
                                    </div>
                                </datepicker>
                            </div>
                            <div class="column col-2">
                                <datepicker date-format="yyyy-MM-dd" selector="form-input">
                                    <div class="input-group">
                                        <span class="input-group-addon">End</span>
                                        <input class="form-input" type="text" ng-model="logMgr.endDate" />
                                    </div>
                                </datepicker>
                            </div>
                            <div class="column col-2">
                                <div class="input-group">
                                    <span class="input-group-addon">Query Size</span>
                                    <input class="form-input" type="number" ng-model="logMgr.querySize" placeholder="Query Size" />
                                </div>
                            </div>
                            <div class="column col-2">
                                <div class="input-group">
                                    <span class="input-group-addon">User</span>
                                    <input class="form-input" type="text" ng-model="logMgr.user" placeholder="user" />
                                </div>
                            </div>
                            <div class="column col-2">
                                <button class="btn btn-primary" ng-click="initLogScroll()">Query Matched Logs</button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="column col-12">
                    <div class="float-right">
                        <button class="btn" ng-click="submitLabels()" ng-disabled="!logMgr.modified">Submit Labels</button>
                    </div>
                </div>
                <br />
                <div class="column col-12" style="text-align: center" ng-if="user">
                    <div class="divider"></div>
                    <h1 ng-if="user">{{ user }}</h1>
                </div>
                <div class="column col-12">
                    <div class="divider"></div>
                    <div class="form-group">
                        <label class="form-switch">
                            <input type="checkbox" ng-model="displayTableConfig.quickSelect" />
                            <i class="form-icon"></i> Quick Select
                        </label>
                        <label class="form-switch">
                            <input type="checkbox" ng-model="displayTableConfig.score" />
                            <i class="form-icon"></i> Score
                        </label>
                        <label class="form-switch">
                            <input type="checkbox" ng-model="displayTableConfig.timestamp" />
                            <i class="form-icon"></i> Timestamp
                        </label>
                        <label class="form-switch">
                            <input type="checkbox" ng-model="displayTableConfig.user" />
                            <i class="form-icon"></i> User
                        </label>
                        <label class="form-switch">
                            <input type="checkbox" ng-model="displayTableConfig.service" />
                            <i class="form-icon"></i> Service
                        </label>
                        <label class="form-switch">
                            <input type="checkbox" ng-model="displayTableConfig.ip" />
                            <i class="form-icon"></i> IP
                        </label>
                        <label class="form-switch">
                            <input type="checkbox" ng-model="displayTableConfig.userAgentString" />
                            <i class="form-icon"></i> User agent string
                        </label>
                        <label class="form-switch">
                            <input type="checkbox" ng-model="displayTableConfig.isp" />
                            <i class="form-icon"></i> ISP
                        </label>
                        <label class="form-switch">
                            <input type="checkbox" ng-model="displayTableConfig.geoInfo" />
                            <i class="form-icon"></i> Geo info
                        </label>
                        <label class="form-switch">
                            <input type="checkbox" ng-model="displayTableConfig.label" />
                            <i class="form-icon"></i> Label
                        </label>
                    </div>
                </div>
            </div>
            <div class="column col-12" style="height: 100%">
                <div class="divider"></div>
                <label class="form-switch">
                    <input type="checkbox" ng-model="showControlPannel" />
                    <i class="form-icon"></i> Show Control Pannel
                </label>
                <ul class="tab tab-block">
                    <li class="tab-item" ng-class="{'active': currentTab=='Table'}">
                        <a href="" ng-click="currentTab='Table'">Table</a>
                    </li>
                    <li class="tab-item" ng-class="{'active': currentTab=='Geo Map'}">
                        <a href="" ng-click="currentTab='Geo Map'">Geo Map</a>
                    </li>
                    <li ng-show="user" class="tab-item" ng-class="{'active': currentTab=='User Profile'}">
                        <a href="" ng-click="currentTab='User Profile';genVisualURL()">User Profile</a>
                    </li>
                </ul>
                <div class="column col-12" ng-show="currentTab=='Table'">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th ng-show="displayTableConfig.quickSelect">
                                    <input type="checkbox" ng-model="useQuickLabel" ng-change="selectAll()" />Select All
                                    <br />
                                    <select class="form-select" ng-model="quickLabel" ng-change="updateAllLabel()">
                                        <option></option>
                                        <option>normal</option>
                                        <option>abnormal</option>
                                        <option>whiteList</option>
                                        <option>ignore</option>
                                    </select>
                                </th>
                                <th></th>
                                <th ng-show="displayTableConfig.score">Score <span ng-show="user"><i class="icon icon-resize-vert" ng-hide="UserLogSortByScore" style="cursor: pointer" ng-click="sortUserLog()"></i><i class="icon icon-arrow-down" ng-show="UserLogSortByScore"></i></span></th>
                                <th ng-show="displayTableConfig.timestamp">Timestamp <span ng-show="user"><i class="icon icon-resize-vert" ng-show="UserLogSortByScore" style="cursor: pointer" ng-click="sortUserLog()"></i><i class="icon icon-arrow-down" ng-hide="UserLogSortByScore"></i></span></th>
                                <th ng-show="displayTableConfig.label">Label</th>
                                <th ng-show="displayTableConfig.user">User</th>
                                <th ng-show="displayTableConfig.service">Service</th>
                                <th ng-show="displayTableConfig.ip">IP</th>
                                <th ng-show="displayTableConfig.userAgentString">User agent string</th>
                                <th ng-show="displayTableConfig.isp">ISP</th>
                                <th ng-show="displayTableConfig.geoInfo">Geo Info</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="log in logMgr.logs | filter:localLogFilter">
                                <td ng-show="displayTableConfig.quickSelect">
                                    <input type="checkbox" ng-model="log.quickLabelChecked" ng-change="changeLabel(log)">
                                </td>
                                <td>
                                    <button class="btn" ng-click="showLogDetail(log)">Info</button>
                                </td>
                                <td ng-show="displayTableConfig.score">{{ log._source.scores.total | number: 3 }}</td>
                                <td ng-show="displayTableConfig.timestamp">{{ log._source.log.timestamp }}</td>
                                <td ng-show="displayTableConfig.label"><span class="label" ng-class="{'label-danger': log._source.label.analyst == 'abnormal', 'label-success': log._source.label.analyst == 'normal'}" ng-if="log._source.label.analyst">{{ log._source.label.analyst }}</span></td>
                                <td ng-show="displayTableConfig.user">
                                    <button class="btn btn-link" ng-click="openUserTab(log)">{{ log._source.log.user }}</button>
                                </td>
                                <td ng-show="displayTableConfig.service">{{ log._source.log.service }}</td>
                                <td ng-show="displayTableConfig.ip">{{ log._source.log.ip }}</td>
                                <td ng-show="displayTableConfig.userAgentString">{{ log._source.log.user_agent_string }}</td>
                                <td ng-show="displayTableConfig.isp">{{ log._source.log.isp }}</td>
                                <td ng-show="displayTableConfig.geoInfo">{{ log._source.log.city }}/{{ log._source.log.region }}/{{ log._source.log.country }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="column col-12" style="text-align: center">
                        <button class="btn" ng-click="loadMore()">{{ logMgr.logs.length
                            < logMgr.logTotal ? 'Load More' : 'No More' }} ({{ logMgr.logs.length }} / {{ logMgr.logTotal }})</button>
                    </div>
                </div>
                <div class="column col-12" ng-show="currentTab=='Geo Map'" style="height: 100%">
                    <iframe ng-src="{{ geo_visual_url }}" style='width: 100%;height: 100%;'></iframe>
                </div>
                <div ng-if="user" class="column col-12" ng-show="currentTab=='User Profile'" style="height: 100%">
                    <div class="columns">
                        <div class="column col-6">
                            <h4>IP count</h4>
                            <iframe src="{{ ip_visual_url }}" style="width:100%;height: 50vh"></iframe>
                        </div>
                        <div class="column col-6">
                            <h4>Location count</h4>
                            <iframe src="{{ location_visual_url }}" style="width:100%;height: 50vh"></iframe>
                        </div>
                        <div class="column col-6">
                            <h4>Device count</h4>
                            <iframe src="{{ device_visual_url }}" style="width:100%;height: 50vh"></iframe>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column col-12">
                            <div class="divider"></div>
                            <label class="form-switch">
                                <input type="checkbox" ng-model="userProfileTabMgr.show" ng-change="genVisualEachService()" />
                                <i class="form-icon"></i> Show visualization for each service
                            </label>
                            <div ng-show="userProfileTabMgr.show">
                                <ul class="tab tab-block">
                                    <li class="tab-item" ng-class="{'active': userProfileTabMgr.currentTab=='SMTP'}">
                                        <a href="" ng-click="userProfileTabMgr.currentTab='SMTP';genVisualEachService()">SMTP</a>
                                    </li>
                                    <li class="tab-item" ng-class="{'active': userProfileTabMgr.currentTab=='VPN'}">
                                        <a href="" ng-click="userProfileTabMgr.currentTab='VPN';genVisualEachService()">VPN</a>
                                    </li>
                                    <li class="tab-item" ng-class="{'active': userProfileTabMgr.currentTab=='Exchange'}">
                                        <a href="" ng-click="userProfileTabMgr.currentTab='Exchange';genVisualEachService()">Exchange</a>
                                    </li>
                                    <li class="tab-item" ng-class="{'active': userProfileTabMgr.currentTab=='POP3'}">
                                        <a href="" ng-click="userProfileTabMgr.currentTab='POP3';genVisualEachService()">POP3</a>
                                    </li>
                                    <li class="tab-item" ng-class="{'active': userProfileTabMgr.currentTab=='OWA'}">
                                        <a href="" ng-click="userProfileTabMgr.currentTab='OWA';genVisualEachService()">OWA</a>
                                    </li>
                                </ul>
                                <div ng-show="userProfileTabMgr.currentTab=='SMTP'">
                                    <div class="columns">
                                        <div class="column col-6">
                                            <h4>IP count</h4>
                                            <iframe src="{{ userProfileTabMgr.visualURLs.SMTP.ip_visual_url }}" style="width:100%;height: 50vh"></iframe>
                                        </div>
                                        <div class="column col-6">
                                            <h4>Location count</h4>
                                            <iframe src="{{ userProfileTabMgr.visualURLs.SMTP.location_visual_url }}" style="width:100%;height: 50vh"></iframe>
                                        </div>
                                        <div class="column col-6">
                                            <h4>Device count</h4>
                                            <iframe src="{{ userProfileTabMgr.visualURLs.SMTP.device_visual_url }}" style="width:100%;height: 50vh"></iframe>
                                        </div>
                                    </div>
                                </div>
                                <div ng-show="userProfileTabMgr.currentTab=='VPN'">
                                    <div class="columns">
                                        <div class="column col-6">
                                            <h4>IP count</h4>
                                            <iframe src="{{ userProfileTabMgr.visualURLs.VPN.ip_visual_url }}" style="width:100%;height: 50vh"></iframe>
                                        </div>
                                        <div class="column col-6">
                                            <h4>Location count</h4>
                                            <iframe src="{{ userProfileTabMgr.visualURLs.VPN.location_visual_url }}" style="width:100%;height: 50vh"></iframe>
                                        </div>
                                        <div class="column col-6">
                                            <h4>Device count</h4>
                                            <iframe src="{{ userProfileTabMgr.visualURLs.VPN.device_visual_url }}" style="width:100%;height: 50vh"></iframe>
                                        </div>
                                    </div>
                                </div>
                                <div ng-show="userProfileTabMgr.currentTab=='Exchange'">
                                    <div class="columns">
                                        <div class="column col-6">
                                            <h4>IP count</h4>
                                            <iframe src="{{ userProfileTabMgr.visualURLs.Exchange.ip_visual_url }}" style="width:100%;height: 50vh"></iframe>
                                        </div>
                                        <div class="column col-6">
                                            <h4>Location count</h4>
                                            <iframe src="{{ userProfileTabMgr.visualURLs.Exchange.location_visual_url }}" style="width:100%;height: 50vh"></iframe>
                                        </div>
                                        <div class="column col-6">
                                            <h4>Device count</h4>
                                            <iframe src="{{ userProfileTabMgr.visualURLs.Exchange.device_visual_url }}" style="width:100%;height: 50vh"></iframe>
                                        </div>
                                    </div>
                                </div>
                                <div ng-show="userProfileTabMgr.currentTab=='POP3'">
                                    <div class="columns">
                                        <div class="column col-6">
                                            <h4>IP count</h4>
                                            <iframe src="{{ userProfileTabMgr.visualURLs.POP3.ip_visual_url }}" style="width:100%;height: 50vh"></iframe>
                                        </div>
                                        <div class="column col-6">
                                            <h4>Location count</h4>
                                            <iframe src="{{ userProfileTabMgr.visualURLs.POP3.location_visual_url }}" style="width:100%;height: 50vh"></iframe>
                                        </div>
                                        <div class="column col-6">
                                            <h4>Device count</h4>
                                            <iframe src="{{ userProfileTabMgr.visualURLs.POP3.device_visual_url }}" style="width:100%;height: 50vh"></iframe>
                                        </div>
                                    </div>
                                </div>
                                <div ng-show="userProfileTabMgr.currentTab=='OWA'">
                                    <div class="columns">
                                        <div class="column col-6">
                                            <h4>IP count</h4>
                                            <iframe src="{{ userProfileTabMgr.visualURLs.OWA.ip_visual_url }}" style="width:100%;height: 50vh"></iframe>
                                        </div>
                                        <div class="column col-6">
                                            <h4>Location count</h4>
                                            <iframe src="{{ userProfileTabMgr.visualURLs.OWA.location_visual_url }}" style="width:100%;height: 50vh"></iframe>
                                        </div>
                                        <div class="column col-6">
                                            <h4>Device count</h4>
                                            <iframe src="{{ userProfileTabMgr.visualURLs.OWA.device_visual_url }}" style="width:100%;height: 50vh"></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" ng-class="{'active':logModal.display}">
        <div class="modal-overlay"></div>
        <div class="modal-container">
            <div class="modal-header">
                <button class="btn btn-clear float-right" ng-click="logModal.display=false;"></button>
                <div class="modal-title">Log Detail Info</div>
            </div>
            <div class="modal-body">
                <div class="content">
                    <div class="container">
                        <div class="column col-12">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>field</th>
                                        <th>value</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>ID</td>
                                        <td>{{ logModal.targetLog._id }}</td>
                                    </tr>
                                    <tr>
                                        <td>Scores</td>
                                        <td>
                                            <ul>
                                                <li ng-repeat="(key, value) in logModal.targetLog._source.scores">{{ key }}: {{ value }}</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>User</td>
                                        <td>
                                            <button class="btn btn-link" ng-click="openUserTab(logModal.targetLog)">{{ logModal.targetLog._source.log.user }}</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>IP Info</td>
                                        <td>
                                            <ul>
                                                <li>IP: {{ logModal.targetLog._source.log.ip }}</li>
                                                <li>ISP: {{ logModal.targetLog._source.log.isp }}</li>
                                                <li>Domain: {{ logModal.targetLog._source.log.domain }}</li>
                                                <li>Geo Info: {{ logModal.targetLog._source.log.city }} / {{ logModal.targetLog._source.log.region }} / {{ logModal.targetLog._source.log.country }}</li>
                                                <li>(latitude, longitude): ({{ logModal.targetLog._source.log.location.lat }}, {{ logModal.targetLog._source.log.location.lon }})</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>timestamp</td>
                                        <td>{{ logModal.targetLog._source.log.timestamp }}</td>
                                    </tr>
                                    <tr>
                                        <td>Other Info</td>
                                        <td>
                                            <ul>
                                                <li>
                                                    user agent string: {{ logModal.targetLog._source.log.user_agent_string }}
                                                </li>
                                                <li>browser:
                                                    <ul>
                                                        <li ng-repeat="(key, value) in logModal.targetLog._source.log.browser">{{ key }}: {{ value }}</li>
                                                    </ul>
                                                </li>
                                                <li>os:
                                                    <ul>
                                                        <li ng-repeat="(key, value) in logModal.targetLog._source.log.os">{{ key }}: {{ value }}</li>
                                                </li>
                                                </ul>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>labels</td>
                                        <td>
                                            <ul>
                                                <li>analyst: {{ logModal.targetLog._source.label.analyst || "None" }}</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Feature Vector</td>
                                        <td>
                                            <ul>
                                                <li ng-repeat="(key, value) in logModal.targetLog._source.features">{{ key }}: {{ value }}</li>
                                            </ul>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <label>Label</label>
                    <select class="form-select" ng-model="logModal.targetLog._source.label.analyst" ng-change="updateLabel(logModal.targetLog)">
                        <option></option>
                        <option>normal</option>
                        <option>abnormal</option>
                        <option>whiteList</option>
                        <option>ignore</option>
                    </select>
                    <button class="btn btn-link" ng-click="logModal.display=false;">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" ng-class="{'active':loadingModal.display}">
        <div class="modal-overlay"></div>
        <div class="modal-container">
            <div class="modal-header">
                <div class="modal-title"></div>
            </div>
            <div class="modal-body">
                <div class="content">
                    <div class="loading"></div>
                    {{ loadingModal.text }}
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
    <!-- JS -->
    <script type="text/javascript" src="./lib/moment.js"></script>
    <script type="text/javascript" src="./lib/angular.min.js"></script>
    <script type="text/javascript" src="./lib/elasticsearch.angular.min.js"></script>
    <script type="text/javascript" src="./lib/720kb.angular-datepicker/angular-datepicker.min.js"></script>
    <script type="text/javascript" src="./js/app.js"></script>
    <script type="text/javascript" src="./js/config.js"></script>
</body>

</html>
